parent/
*.i2p/
demo.b32.i2p
misc/i2pd_demo_data
src/android
test.diff
*.log
*.err
i2pd_dat
browser
src/helpers/generate-cert.go
src/proxycpe/si-control-port.go
.go
src/test
src/*/test
src/client/*.i2p
src/client/*.i2p/base64
src/client/*.i2p/id
src/client/*.i2p/name
src/client/*.i2p/recv
src/client/*.i2p/del
src/client/*.i2p/send
src/client/*.i2p/time


