name=zzzot
signer=zzz-plugin@mail.i2p
consoleLinkName=ZzzOT
consoleLinkURL=http://127.0.0.1:7662/tracker/index.jsp
description=Open tracker
author=zzz
updateURL=http://stats.i2p/i2p/plugins/zzzot-update.xpi2p
updateURL.su3=http://stats.i2p/i2p/plugins/zzzot-update.su3
websiteURL=http://zzz.i2p/forums/16
license=Apache 2.0
min-jetty-version=9
min-i2p-version=0.9.29
update-only=true
version=0.16.0-b1
date=1495392498000
key=Z3xbCcZiIA44W65~q4u5Rm9ZZWvBIv1bCvTx8DrbsKefu0PZ1134xzkI~vyXuRmmujvSwTVTfgEnxL81hwmpuB4aXMBLDlBmckspFnGKte~HefYI-6WcK79rnZPvNQCffdgi~EgWnUMYDR20PBWQKaGwajkSb-LOK~l2Z69G6aI=
