[Unit]
Description=Destination-Isolating Proxy
After=network.target

[Service]
Type=simple
User=sii2pplugin
Group=sii2pplugin
WorkingDirectory=/var/run/si-i2p-plugin
ExecStart=/usr/local/bin/si-i2p-plugin
Restart=on-failure
ExecReload=/bin/kill -HUP $MAINPID
PIDFile=/var/run/si-i2p-plugin/si-i2p-plugin.pid

[Install]
WantedBy=multi-user.target
